@import "reset";

// 1rem = fontSize px
// px = (1/fontSize) rem
$fontSize: 37.5;
@function px2rem($px) {
  @return ($px  / $fontSize)+rem;
}

@mixin center() {
  display: flex;
  justify-self: center;
  align-items: center;
}
